<div class="vg-page page-funfact" style="background-image: url(/assets/img/bg_banner.jpg);">
    <div class="container">
      <div class="row section-counter">
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="4">4</h1>
          <span>Clientes</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="8">8</h1>
          <span>Proyectos Completados</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="2">2</h1>
          <span>Proyectos en Curso</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="4">4</h1>
          <span>clientes satisfechos</span>
        </div>
      </div>
    </div>
  </div>
