<!-- conocimientos -->
<div class="vg-page page-testimonial">
    <div class="container">
      <h1 class="text-center fw-normal wow fadeInUp">Capacitación Desarrollador Web Full Stack.</h1>
      <div class="row justify-content-center mt-5 wow fadeInUp">
        <div class="col-md-9">
          <div class="owl-carousel testi-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-place">
                    <img src="/assets/img/lenguajes.jpeg" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="caption">
                    <div class="testi-content">
                      ◉HTML & CSS.
                      ◉BOOSTRAP.
                      ◉JAVASCRIPT.
                      ◉Node Js
                      ◉React
                      ◉Express
                      ◉MANEJO DE BASES DE DATOS.
                      RELACIONALES(MYSQL).
                      ◉PROGRAMACIÓN ORIENTADA A OBJETOS.
                      ◉MANEJO DE REPOSITORIOS GIT.
                      ◉METODOLOGIAS AGILES - SCRUM.</div>
                    <div class="testi-info">
                      <div class="thumb-profile">
                        <img src="/assets/img/mio.jpg" alt="">
                      </div>
                      <div class="tagline">
                        <h5 class="mb-0">Sergio Romero</h5>
                        <span class="text-muted">Digital House</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!-- End testimonial -->
  
  <!-- lenguajes -->
  <div class="vg-page page-client">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/nodejs.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/javas.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/todos.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/express.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/mysql.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/react.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/github.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/assets/img/logo/api.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- fin lenguajes -->
